<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>LoginPageUsingServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <!-- Mapping for validated url -->
  <servlet>
  	<servlet-name>login</servlet-name>
  	<servlet-class>com.demo.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>login</servlet-name>
  	<url-pattern>/validated</url-pattern>
  </servlet-mapping>
  
  <!-- Mapping for user url -->
  <servlet>
  	<servlet-name>user1</servlet-name>
  	<servlet-class>com.demo.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>user1</servlet-name>
  	<url-pattern>/user</url-pattern>
  </servlet-mapping>
  
  <!-- Mapping for Admin url -->
  <servlet>
  	<servlet-name>admin1</servlet-name>
  	<servlet-class>com.demo.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>admin1</servlet-name>
  	<url-pattern>/admin</url-pattern>
  </servlet-mapping>
  
</web-app>